ul, ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-style: normal;
    color: currentColor;
}

h1, h2, h3, h4, h5,h6, p {
    margin: 0;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


/*----------HEADER----------*/

.page-header{
    border-bottom: 1px solid #e7e9fc;
}


.header-container{
    display: flex;
    align-items: center;
}

.header-navigation{
display: flex;
align-items: center;
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    margin-right: 76px;
}

.header-logo-blue{
    color: #4d5ae5;
}

.header-menu-list{
    display: flex;
    gap: 40px;
}

.header-menu-link{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.header-contacts{
    margin-left: auto;
}

.header-contacts-list{
    display: flex;
    gap: 40px;
}
.header-contacts-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
}

.header-contacts-link:hover,
.header-contacts-link:focus{
        color: #404bbf;
}


/*----------HERO----------*/


.hero {
    padding: 188px 0;
    background-color: #2e2f42;
}

.hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin: 0 auto 48px;
        max-width: 496px;
}

.hero-btn {font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}


/*----------FEATURES----------*/
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    gap: 24px;}

.features-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: calc((100% - 72px) / 4);
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*----------TEAM----------*/


.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f4f4fd;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto 72px;
}

.team-list {
    display: flex;
    gap: 24px
}

.team-item {
    width: calc((100% - 3 * 24px) / 4);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}

.team-img {
    width: 264px;
    height: 260px;
}

.team-content{
    padding: 32px 16px;
    text-align: center
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/*----------PORTFOLIO----------*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
}

.portfolio-cards{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-img {
    width: 360px;
    height: 300px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*----------FOOTER----------*/


.footer{
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#f4f4fd;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-blue {
    color: #4d5ae5;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-wrapper{
    display: block;
}